.polls_container {
    margin: 5rem 0;
    width: 58rem;
    margin-inline: auto;
}

.polls_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.poll_card {
    background: var(--color-gray-0);
    padding: 2rem;
    border-radius: var(--radius-2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.vote_button {
    margin-top: 1rem;
    background: var(--color-primary);
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: var(--radius-1);
    font-weight: 600;
}

@media screen and (max-width: 600px){
    .polls_container {
        width: var(--container-w-sm);
    }
}