.pollDetails {
    margin: 5rem 0;
}

.pollDetails_image{
    height: 15rem;
    margin: 1.2rem 0 0.8rem;
}
.poll_details_option{
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
    gap: 3rem;
    border-top: 2px solid var(--color-gray-200);
}

.add_option_btn{
    background: var(--color-gray-100);
    border: 2px solid var(--color-primary);
    border-radius: var(--radius-4);
    font-size: 5rem;
    color: var(--color-primary);
    box-shadow: 0 0.8 0.8 rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    display: grid;
    place-items: center;
    min-height: 14rem;
}
.voters {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.voters h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.voters_table {
    width: 100%;
}

.voters_table thead th {
    text-align: left;
    padding: 0.7rem 1.5rem;
}

.voters_table thead td {
    padding: 0.7rem, 1.5rem;
}

.voters_table tbody tr:nth-child(odd){
    background: var(--color-gray-0);
}

@media screen and  (max-width: 600px){
    .voters_table tbody tr {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .voters_table  thead tr {
        display: flex;
        flex-direction: column;
    }
}